    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Owl &amp; Mouse</h2>
                <p>Owl &amp; Mouse was born as the solo project of Australian singer-songwriter Hannah Botting. After moving to London in 2008, Hannah taught herself to play the ukulele, and began writing vulnerable yet open-hearted folk-tinged songs.</p> 

                <p>In early 2011, Hannah released her first solo EP on Haircut Records. A short while later, she began to form a more permanent, pop-oriented backing band, and now performs with her sister Jen Botting on backing vocals, Tom Wade on bass, and Emma Winston on keyboards. Owl &amp; Mouse’s first release was a split single on Hangover Lounge Records with the track Canvas Bags.</p>
                
                <p>Their new album <i>Departures</i> is released on Fika Recordings on 27th July 2015.</p>
            </div>
        </div>
    </section>