    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Owl &amp; Mouse</h2>
                <p>Owl &amp; Mouse was born as the solo project of Australian singer-songwriter Hannah Botting. After moving to London in 2008, Hannah taught herself to play the ukulele, and began writing vulnerable yet open-hearted folk-tinged songs.</p> 

                <p>In early 2011, Hannah released her first solo EP on Haircut Records. A short while later, she began to form a more permanent, pop-oriented backing band, and now performs with her sister Jen Botting on backing vocals, Tom Wade on bass, and Emma Winston on keyboards. Owl &amp; Mouse’s first release was a split single on Hangover Lounge Records with the track Canvas Bags.</p>
                
                <p>Their new album <i>Departures</i> is released on Fika Recordings on 27th July 2015.</p>

<p>&nbsp;</p>

                <h2>Press Quotations</h2>

<div id="carousel-content" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>“This is an exceptionally beautiful EP and one that should be on everyone’s radar”</p>
                            <p><strong>--Folk Radio</strong></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>“There’s an observational acuity in her writing that’s almost novelish and her singing is freighted with bittersweet emotion, while she builds up her songs with inspired orchestration. In that sense, she’s not another anything…. Constructed of simple but strong tunes, Owl &amp; Mouse’s second offering is a little gem.”</p>
                            <p><strong>--StrongXP</strong></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>“Botting’s delivery and subject matter are beautiful and sad in equal measure, especially on this EP’s standout track Don and Anna”</p>
                            <p><strong>--Neon Filler</strong></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>“Somewhere To Go comes over as understated, delicate and minimalist, but its honest and melancholic tone and beautiful melodies certainly make it worth checking out.”</p>
                            <p><strong>--For Folks Sake</strong></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>“This EP ranges from stunning harmonies and gentle melodies that would soften the coldest heart. The melancholy lyrics are shockingly bold and it is in contrast to the smooth and velvety chime that is produced. It is difficult not to find resonance with Botting in this EP, and the warm nature of the sound and lyrics creates an ambiance that almost makes heartbreak sound beautiful.”</p>
                            <p><strong>--The Metropolist</strong></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>“These quietly energetic and stylish songs remind me of Alan Horne’s description of Subway Sect, that the idea is to “work not with power, but with weakness and introversion”… Somewhere To Go is a very substantial and richly rewarding record.”</p>
                            <p><strong>--Did Not Chart</strong></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>“The cover artwork looks like it was a missing piece from Belle & Sebastian’s Books EP, but sounding more like Camera Obscura’s ‘Books Written for Girls'”.</p>
                            <p><strong>--We Heart Music</strong></p>
                        </div>
                    </div>
                </div>

<!-- Controls --> <a class="left carousel-control" href="#carousel-content" data-slide="prev">
    <!--span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span-->
    <span class="carousel-button-left">
      <i class="fa fa-caret-left"></i>
    </span>
    <span class="sr-only">Previous</span>
  </a>
 <a class="right carousel-control" href="#carousel-content" data-slide="next">
    <!--span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span-->
    <span class="carousel-button-right">
      <i class="fa fa-caret-right"></i>
    </span>
    <span class="sr-only">Next</span>
  </a>      
</div>
<ol class="carousel-indicators text-carousel">
    <li data-target="#carousel-content" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-content" data-slide-to="1"></li>
    <li data-target="#carousel-content" data-slide-to="2"></li>
    <li data-target="#carousel-content" data-slide-to="3"></li>
    <li data-target="#carousel-content" data-slide-to="4"></li>
    <li data-target="#carousel-content" data-slide-to="5"></li>
  </ol>
</div>
    </section>