    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Press enquiries should be directed to Chris Stone:</p>
                <p><a href="http://stoneimmaculate.co.uk">stoneimmaculate.co.uk</a></p>
                <p><a href="mailto:stone@stoneimmaculate.co.uk">stone@stoneimmaculate.co.uk</a></p>
                <p>If you'd like to get in touch to discuss bookings, or just for a chat, you can do so below.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

                <div class="form">
    <form action="//formspree.io/owlnmouse@gmail.com"
      method="POST">
      <div class="form-group">
        <label>Name</label><input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
    <label>Email</label><input type="email" name="_replyto" class="form-control">
</div>
    <input type="text" name="_gotcha" style="display:none" />

    <div class="form-group">
    <label>Message</label>
    <textarea name="body" class="form-control"></textarea>
    </div>
    <div class="form-group">
    <input type="submit" value="Send" class="btn btn-default btn-lg">
    </div>
</form>

<p>&nbsp;</p>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>