    <!-- Download Section -->
    <section id="photos" class="content-section text-center">
        <div class="photo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Shows</h2>
                        <a href="http://www.songkick.com/artists/4409123" class="songkick-widget" data-theme="dark" data-detect-style="true" data-background-color="transparent">Owl & Mouse tour dates</a>
<script src="//widget.songkick.com/widget.js"></script>
                    
                    <!--a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a-->
                </div>
            </div>
        </div>
    </section>